In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'

https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

In [12]:
!wget $df

--2025-10-02 10:20:35--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8002::154, 2606:50c0:8000::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.07s

2025-10-02 10:20:35 (11.7 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [17]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [29]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [30]:
five_columns = df[[
    'engine_displacement',
    'horsepower',
    'vehicle_weight',
    'model_year',
    'fuel_efficiency_mpg'
]]
print(five_columns)

      engine_displacement  horsepower  vehicle_weight  model_year  \
0                     170       159.0     3413.433759        2003
1                     130        97.0     3149.664934        2007
2                     170        78.0     3079.038997        2018
3                     220         NaN     2542.392402        2009
4                     210       140.0     3460.870990        2009
...                   ...         ...             ...         ...
9699                  140       164.0     2981.107371        2013
9700                  180       154.0     2439.525729        2004
9701                  220       138.0     2583.471318        2008
9702                  230       177.0     2905.527390        2011
9703                  270       140.0     2908.043477        2005

      fuel_efficiency_mpg
0               13.231729
1               13.688217
2               14.246341
3               16.912736
4               12.488369
...                   ...
9699            15.101802
9700            17.962326
9701            17.186587
9702            15.331551
9703            14.884467

[9704 rows x 5 columns]

In [36]:
five_columns.isnull().sum()

engine_displacement      0
horsepower             708
vehicle_weight           0
model_year               0
fuel_efficiency_mpg      0
dtype: int64

In [33]:
five_columns['horsepower'].median()

149.0

In [49]:
n = len(five_columns)

n_val = int(n * 0.2)
n_test = int(n * 0.2)
n_train = n - n_val - n_test

In [50]:
n_val, n_test, n_train

(1940, 1940, 5824)

In [52]:
five_columns_train = five_columns.iloc[n_train:]
five_columns_val = five_columns.iloc[n_train:n_train + n_val]
five_columns_test = five_columns.iloc[n_train + n_val:]